@CHARSET "ISO-8859-1";

<!--
Head.jsp -->.header {
	margin-bottom: 80px;
}

.title {
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 80px;
	text-align: center;
	font-weight: 100;
	letter-spacing: 2px;
	font-family: 'Slab', Arial, sans-serif;
	text-transform: uppercase;
	text-decoration: underline;
}

#date {
	text-align: center;
}

<!--
Index.jsp -->.li-tri {
	list-style: none;
	margin-left: -50px;
	padding-left: 0;
}

.btn-submit {
	margin-left: 80px;
}

.navigation {
	padding-bottom: 10px;
}

<!--
SignIn SignUp -->
